* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    color: #444;
    overflow: visible;
}

body.modal-open {
    overflow: hidden;
}

.container {
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.page {
    width: 100%;
}

.page-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

section {
    display: flex;
    margin: 50px 0;
}

.text-muted {
    color: #888;
}

.logo-wrap path {
    fill: #999;
}

.logo-wrap:hover path {
    fill: #fff;
}

@media (min-width: 768px) {
    section:not(:last-child) {
        margin: 100px 0;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
    body.no-scroll #main > div {
        padding-right: 15px;
    }
}

@media (min-width: 2200px) {
    .container {
        width: 50vw;
    }
}
