* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    color: #000;
}

body.no-scroll #main > div {
    padding-right: 15px;
}

.container {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

.page {
    width: 100%;
}

.page-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

section {
    display: flex;
    margin: 100px 0;
}
